@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #4CAF50;       /* Xanh lá cây tươi, nổi bật */
  --color-primary-dark: #388E3C;  /* Xanh đậm hơn để làm hover/active */
  --color-primary-light: #81C784; /* Xanh lá nhạt để làm điểm nhấn nhẹ */
  --color-primary-bg: #E8F5E9;    /* Nền xanh rất nhạt, êm dịu */
}